<h1>Contact Us</h1>
<p>Fill out the following form to provide us feedback on our website</p>
<form method = "post" action = "/contact">
    Your name:
    <br>
    <input type='text' name='FullName' placeholder='Name' required />
    <br>
    Your Email:
    <br>
    <input type='email' name='email' placeholder='Email' required />
    <br>
    Feedback:
    <br>
    <textarea name = "comment" rows="5" cols="60"></textarea>
    <br>
    <input type = "submit" name = "submit" value = "Submit" >
</form>