

<div class="container">
    <h1>Home</h1>
    <p>Welcome to home page Please <a href='/login'>Login</a> or <a href='/register'>Register</a>.</p>
    <p><a href='/contact'>Contact Us</a></p>
  </div>